@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

body {
      margin: 0;
      box-sizing: border-box;
}
/*Css for header*/
  .header {
      display: flex;
      justify-content: left; 
      align-items: center;
      height :60px;
      background-color: #ffffff;
  }

  .header img {
        width: 40px;
        max-width: 100%;
        height: auto;
        border-radius: 10px;
        margin-right: 1025px; 
  }

  .header .logo {
    font-size: 25px;
    font-family: 'Sriracha', cursive;
    color: #000;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .nav-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    margin-right: 20px;
  }

  .nav-items a {
    text-decoration: none;
    color: #000;
    padding: 20px 20px;
  }

  /*CSS for intro*/
  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* height: 2000px; */
    /* background: url("https://img.freepik.com/premium-vector/gradient-modern-design-abstract-background-color_103282-920.jpg"); */
    background : linear-gradient(to bottom, rgba(185, 175, 175, 0.1) 0%, rgba(243, 223, 223, 0.3) 100%), url("https://img.freepik.com/premium-vector/gradient-modern-design-abstract-background-color_103282-920.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding : 0px;
  }

  /* CSS for footer */
  .footer {
    margin:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #429EBD;
    padding: 70px 0;
  }

  .footer .copy {
    padding : 20px;
    color: #faf8f8;
  }

  .bottom-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
  }

  .bottom-links .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
  }

  .bottom-links .links span {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    margin: 10px 50px;
  }

  .bottom-links .links a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 20px;
  }

/*For dashboard*/
.heatmaps {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px; /* Added margin to separate from the form */
  }
  
  .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap; /* Allow images to wrap to the next line */
  }

  @media (max-width: 768px) {
    .col img {
        width: 200px;
      }
    
    .barplot {
    width: 500px; /* Set a fixed width for the container */
    }
  }