<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LibSpace</title>
    <script src="https://kit.fontawesome.com/53d0e98b35.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header class="header">
        <a href="#" class="logo"> NUS
        </a>
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/b9/NUS_coat_of_arms.svg/1280px-NUS_coat_of_arms.svg.png" alt="me">
        <nav class="nav-items">
          <a href="home.html">Home</a>
          <a href="#">About</a>
          <a href="#">Contact</a>
        </nav>
    </header>
    <main>

      <H1>{{ result }}</H1>
      <H1>{{ visualization }}</H1>
      


      <div class = "intro">
    </main>
  
    <footer class="footer">
        <div class="copy">&copy; NUSLibSpace</div>
        <div class="bottom-links">
          <div class="links">
            <span>More Info</span>
            <a href="#">Home</a>
            <a href="#about-section">About</a>
            <a href="#">Contact</a>
          </div>
          <div class="links">
            <span>Social Links</span>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </footer>
</body>
</html>