<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LibSpace</title>
    <script src="https://kit.fontawesome.com/53d0e98b35.js" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="floor.css">

</head>

<body>
    <header class="header">
        <a href="#" class="logo"> NUS
        </a>
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/b9/NUS_coat_of_arms.svg/1280px-NUS_coat_of_arms.svg.png" alt="me">
        <nav class="nav-items">
          <a href="home.html">Home</a>
          <a href="#">About</a>
          <a href="#">Contact</a>
        </nav>
    </header>
    <main>
      <div class = "intro">
        <form action="/get_time_level" method="post">
          <div class="timing-input">
            <select name="week" id="week">
              <option value="1">Week 1</option>
              <option value="2">Week 2</option>
              <option value="3">Week 3</option>
              <option value="4">Week 4</option>
              <option value="5">Week 5</option>
              <option value="6">Week 6</option>
              <option value="7">Week 7</option>
              <option value="8">Week 8</option>
              <option value="9">Week 9</option>
              <option value="10">Week 10</option>
              <option value="11">Week 11</option>
              <option value="12">Week 12</option>
              <option value="13">Week 13</option>
              <option value="Exam">Exam Week</option>
              <option value="Reading">Reading Week</option>
              <option value="Recess">Recess Week</option>
            </select>
            <select name="day" id="day">
              <option value="1">Monday</option>
              <option value="2">Tuesday</option>
              <option value="3">Wednesday</option>
              <option value="4">Thursday</option>
              <option value="5">Friday</option>
              <option value="6">Saturday</option>
              <option value="7">Sunday</option>
            </select>
            <select id="time" name="time">
              <option value="1">1 AM</option>
              <option value="2">2 AM</option>
              <option value="3">3 AM</option>
              <option value="4">4 AM</option>
              <option value="5">5 AM</option>
              <option value="6">6 AM</option>
              <option value="7">7 AM</option>
              <option value="8">8 AM</option>
              <option value="9">9 AM</option>
              <option value="10">10 AM</option>
              <option value="11">11 AM</option>
              <option value="12">12 PM</option>
              <option value="13">1 PM</option>
              <option value="14">2 PM</option>
              <option value="15">3 PM</option>
              <option value="16">4 PM</option>
              <option value="17">5 PM</option>
              <option value="18">6 PM</option>
              <option value="19">7 PM</option>
              <option value="20">8 PM</option>
              <option value="21">9 PM</option>
              <option value="22">10 PM</option>
              <option value="23">11 PM</option>
              <option value="24">12 AM</option>
            </select>
            <select id="level" name="level">
              <option value="3">Level 3</option>
              <option value="4">Level 4</option>
              <option value="5">Level 5</option>
              <option value="6">Level 6</option>
              <option value="6Chinese">Level 6 Chinese</option>
            </select>
            <button id="checkOccupancyButton" type="submit">Check Occupancy</button>
          </div>
        </form>
        <div class = "occupancy_result">
          <p>Total Number of Students on Week {{ week }}, {{ day }} day, {{ time }}hour  is 
            <br>
            <span>{{ total_occupancy }}</span>
          </p>
        </div>
        <div class="heatmaps">
          <div class="row">
              <div class="col"><img src="/mock_heatmap/Level_3.png" alt="Level 3"><span>Level 3 :</span></div>
              <!-- <div class="col"><img src="/mock_heatmap/Level_4.png" alt="Level 4"><span>Level 4 : 178</span></div>
              <div class="col"><img src="/mock_heatmap/Level_5.png" alt="Level 5"><span>Level 5 : 117</span></div> -->
          </div>
          <div class="row">
              <div class="col"><img src="/mock_heatmap/seats.png" alt="Level 6"><span>Seats Breakdown</span></div>
              <div class="col"><img src="/mock_heatmap/timetrend.png" alt="Level 6 C"><span>Time Trend</span></div>
          </div>
          <div class="row">
            <iframe src="occupancy_by_time.html" width="100%" height="600px" frameborder="0"></iframe>
            <iframe src="occupancy_by_level.html" width="100%" height="600px" frameborder="0"></iframe>
            <iframe src="occupancy_by_seat.html" width="100%" height="600px" frameborder="0"></iframe>
          </div>
          <div class="barplot">
            <img src="/mock_heatmap/barplot.png" alt="Level 6"><span>Overall Breakdown</span>
          </div>
          <div id="tester" style="width:90%;height:250px;">
          </div>
        </div> 
  
      </div>
    </main>
  
    <footer class="footer">
        <div class="copy">&copy; NUSLibSpace</div>
        <div class="bottom-links">
          <div class="links">
            <span>More Info</span>
            <a href="#">Home</a>
            <a href="#about-section">About</a>
            <a href="#">Contact</a>
          </div>
          <div class="links">
            <span>Social Links</span>
            <a href="https://instagram.com/deeheidrated?igshid=djl3YXY0Y3Zxbjh3"><i class="fab fa-facebook"></i></a>
            <a href="https://instagram.com/augusthineee?igshid=bjF5OGFqMnMydDB1"><i class="fab fa-twitter"></i></a>
            <a href="https://instagram.com/ygeneeee?igshid=cTM1emZjZ3I4MTdw"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </footer>

      <script>
        TESTER = document.getElementById('tester');
        Plotly.newPlot(TESTER, [{
            x: [1, 2, 3, 4, 5],
            y: [1, 2, 4, 8, 16]
        }], {
            margin: { t: 0 }
        });
        console.log(Plotly.BUILD);
      </script>
</body>
</html>